<% content_for :styles do %>


  <% end %>
  
  <!-- app/views/general_shopping_list/index.html.erb -->
  <div class="container">
    <h1>General Shopping List</h1>
  
    <h2>Missing Food Items</h2>
    <ul>
      <% @missing_food_items.each do |missing_food| %>
        <li>
          <%= missing_food[:food].name %> -
          Missing Quantity: <%= missing_food[:missing_quantity] %> -
          Missing Price: <%= missing_food[:missing_price] %>
        </li>
      <% end %>
    </ul>
  
    <h2>Total Quantity: <%= @missing_quantity %></h2>
    <h2>Total Price: <%= @missing_price %></h2>
  </div>
  