<section>
  <article class="flex flex-col gap-y-2 max-w-sm md:max-w-lg lg:max-w-4xl mx-auto my-4">
    <h1 class="text-center font-bold text-4xl">Shopping list</h1>
    <div class="flex justify-between items-center">
      <h3 class="text-center font-semibold text-xl">Amount of food items to buy: <%= @recipe_foods.count %></h3>
      <h3 class="text-center font-semibold text-xl">Total value of food needed: $<%= @recipe_foods.sum { |food| food.food.price * food.quantity } %></h3>
    </div>

    <table border="1" class="min-w-full bg-white border border-stone-950 my-4">
      <thead class="bg-gray-300">
        <tr>
          <th class="py-2 px-4 border-r">Food</th>
          <th class="py-2 px-4 border-r">Quantity</th>
          <th class="py-2 px-4 border-r border-stone-950">Price</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe_foods.each do |food| %>
          <tr>
            <td class="py-2 px-4 border-r"><%= food.food.name %></td>
            <td class="py-2 px-4 border-r"><%= food.quantity %></td>
            <td class="py-2 px-4 border-r border-stone-950">$<%= food.food.price * food.quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
</section>