<% content_for :styles do %>
    .toggle-button {
      display: inline-block;
      cursor: pointer;
      background-color: #ccc;
      border-radius: 20px;
      width: 50px;
      height: 30px;
      position: relative;
    }
    
    .toggle-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 30px;
    }
    
    .toggle-switch-label {
      display: block;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.2s;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .toggle-switch-input:checked + .toggle-switch-label {
      left: 20px; 
      background-color: #007bff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    }
    
    /* Estilos para los botones en línea */
    .inline-buttons {
      display: inline-block;
      margin-right: 20px; /* Espacio entre los botones */
    }
  <% end %>
  
  <div class='container'> 
    <h4> <%= @recipe.name %> </h4>
    <div id='pT-cT-sp-btn'>
      <div id='pT-cT-sP'>
  
        <div id='preparation-time'>
          <span>Preparation time: <%= @recipe.preparation_time %> </span>
        </div>
  
        <div id='cooking-time'>
          <span> Cooking time: <%= @recipe.cooking_time %> </span>
        </div>
  
        <div id='steps'> 
          <span> Steps go there... </span>
          <p> <%= @recipe.description %>
        </div>
  
      </div>
  
      <%= link_to recipe_path(@recipe), method: :patch, remote: true do %>
        <div class="toggle-button">
          <%= form_for @recipe do |f| %>
            <div class="toggle-checkbox">
              <%= f.check_box :public, class: 'toggle-switch-input', id: 'toggle-switch', style: 'display: none;' %>
              <label class='toggle-switch-label' for='toggle-switch'></label>
            </div>
          <% end %>
        </div>
      <% end %>
  
      <div id='gSL-aI' class="flex justify-between my-4">
        <div id='gs-list' class="inline-buttons">
          <button id='gs-btn'>
          <%= link_to 'Generate Shoping List', recipe_shopping_list_index_path(@recipe) %>
          </button>
        </div>

        <% if @recipe.user == current_user %>   
          <div id='Add-ingredient' class="inline-buttons">
            <button id='aI-btn'>
              <%= link_to "Add Ingredients", new_recipe_recipe_food_path(@recipe) %>
            </button>
          </div>
        <% else %>
          <div id='Add-ingredient' class="inline-buttons">
            <button disabled title="Log in to access" id='aI-btn'>
              Add Ingredients
            </button>
          </div>
        <% end %>
      </div>
    </div>
  
    <div id='hrLine'> 
      <div>
        <div id='food-table'>
          <table border="1" class="min-w-full bg-white border border-stone-950 my-4">
            <thead class="bg-gray-300">
              <tr>
                <th class="py-2 px-4 border-r">Food</th>
                <th class="py-2 px-4 border-r">Quantity</th>
                <th class="py-2 px-4 border-r">Value</th>
                <th class="py-2 px-4 border-r border-stone-950">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @recipe_foods.each do |food| %>
                <tr>
                  <td class="py-2 px-4 border-r"><%= food.food.name %></td>
                  <td class="py-2 px-4 border-r"><%= food.quantity %></td>
                  <td class="py-2 px-4 border-r">$<%= food.food.price * food.quantity %></td>
                  <td class="py-2 px-4 border-r border-stone-950 text-center">
                  <% if food.recipe.user == current_user %>
                    <%= button_to "Delete", recipe_recipe_food_path(food), method: :delete, data: { confirm: "Are you sure?" } %>
                  <% else %>
                    <%= button_to "Delete", recipe_recipe_food_path(food), method: :delete, disabled: true, title: "You can only delete your own food items" %>
                  <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
   </div>
</div>