<section>
  <article class="flex flex-col gap-y-2 max-w-sm md:max-w-lg lg:max-w-4xl mx-auto my-4">
    <div class="flex justify-end">
      <%= link_to new_food_path, id: "AddFood", class: "border border-stone-950 rounded py-1 px-4 text-sm font-bold" do %>
        Add food
      <% end %>
    </div>
    <table class="min-w-full bg-white border border-stone-950">
      <thead class="bg-gray-300">
        <tr>
          <th class="py-2 px-4 border-r">Food</th>
          <th class="py-2 px-4 border-r">Measurement Unit</th>
          <th class="py-2 px-4 border-r">Unit Price</th>
          <th class="py-2 px-4 border-r border-stone-950">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr class="even:bg-gray-100">
            <td class="py-2 px-4 border-r"><%= food.name %></td>
            <td class="py-2 px-4 border-r"><%= food.measurement_unit %></td>
            <td class="py-2 px-4 border-r">$<%= food.price %></td>
            <td class="text-center border-r border-stone-950">
              <% if food.user == current_user %>
                <%= button_to "Delete", food_path(food), method: :delete, data: { confirm: "Are you sure?" } %>
              <% else %>
                <%= button_to "Delete", food_path(food), method: :delete, disabled: true, title: "You can only delete your own food items" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
</section>