<section>
  <%= link_to foods_path do %>
    <p class="text-stone-950 text-sm p-2">< Back to foods section </p>
  <% end %>

  <article class="flex flex-col gapy-y-2 mx-auto max-w-sm md:max-w-lg lg:max-w-2xl">
    <h2 class="text-lg font-semibold">Create new Food</h2>
    <%= form_with model: @food, url: foods_path do |form| %>
      <div class="flex flex-col gap-y-1">
        <%= form.label :name, class:"font-semibol text-stone-950 text-md" %>
        <%= form.text_field :name, class:"rounded" %>
      </div>
      
      <div class="flex flex-col gap-y-1 my-1">
        <%= form.label :measurement_unit, class:"font-semibol text-stone-950 text-md" %>
        <%= form.select :measurement_unit, options_for_select(['g', 'kg', 'ml', 'l']), class:"rounded" %>
      </div>
      
      <div class="flex flex-col gap-y-1 my-1">
        <%= form.label :quantity, class:"font-semibol text-stone-950 text-md" %>
        <%= form.number_field :quantity, class:"rounded" %>
      </div>
      
      <div class="flex flex-col gap-y-1 my-1">
        <%= form.label :price, class:"font-semibol text-stone-950 text-md" %>
        <%= form.number_field :price, class:"rounded" %>
      </div>
      
      <div class="flex justify-center">
        <%= form.submit "Add Food", class:"border border-stone-950 font-bold text-md py-1 px-4 text-stone-950 mt-3 cursor-pointer" %>
      </div>
    <% end %>
  </article>
</section>