<% content_for :styles do %>
    ul {
        max-width: 500px;
        margin: auto;
        padding-left: unset;
    }

    .recipe {
        border: 2px solid black;
        padding: 2rem;
        margin-bottom: 1rem;
        list-style-type: none;
        display: flex;
        gap: 2rem;
    }

    .recipes {
        padding: 2rem;
        margin-bottom: 1rem;
        list-style-type: none;
        display: flex;
        gap: 2rem;
    }

    .rname {
        font-weight: bold;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
    }
    a {
        color: black;
    }
    
    .add-recipe-button {
        position: absolute;
        top: 100px; /* Ajusta la distancia desde la parte superior */
        right: 10px; /* Ajusta la distancia desde la derecha */
        background-color: #007F7F; /* Color de fondo verde */
        color: white; /* Color del texto en blanco */
        padding: 10px 20px; /* Espaciado interno */
        text-decoration: none; /* Quitar subrayado del enlace */
        border: none; /* Sin borde */
        border-radius: 5px; /* Bordes redondeados */
      }

      .add-recipe-button a {
        color: white;
      }
    
      /* Estilo al pasar el cursor sobre el botón */
      .add-recipe-button:hover {
        background-color: #007F7a; /* Color de fondo verde oscuro al pasar el cursor */
      }

    .edit-remove {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
<% end %>


<div class='recipes'> 
    <div class='add-recipe-button'>
            <%= link_to "Add Recipe", new_recipe_path %>
    </div>
    <ul> 
    <% @recipes.each do |recipe| %>
        <li class='recipe'>
            <div class='rname'>
                <%= link_to recipe.name, recipe_path(recipe)  %>
                <%= form_with url: recipe_path(recipe), method: :delete do |form| %> 
                    <%= form.submit "remove" %>
                <% end %>
            </div>
            <div><%= recipe.description %>  </div>
        </li>
    <% end %>
    </ul>
</div>